.employee-contacts {
    margin: 30px;
    mat-form-field:nth-child(2) {
        margin: 0 10px;
    }
    button {
        margin-left: 10px;
    }
}

.contacts-list__card-column {
    float: left;
    width: 31.33%;
    padding: 10px;
  }
  .contacts-list__card-row {
    margin-left: 60px;
  }
  .contacts-list__card-row:after {
    content: "";
    display: table;
    clear: both;
  }
  .contacts-list__card-column:nth-child(odd)  .contacts-list__first {
    background-color: rgb(13, 124, 189);
  }
  .contacts-list__card-column:nth-child(even)  .contacts-list__first {
    background-color: rgb(216, 94, 13);
  }
  .contacts-list__elevate {
    background-color: #ffffff;
    margin: 20px;
    float: left;
    width: 315px;
    .contacts-list__first {
      border-bottom: 1px solid lightgrey;
      background-color: lightseagreen;
      mat-list-item {
        color: #ffffff;
        width: 275px;
      }
      button {
        position: relative;
        top: -50px;
        right: 8px;
        float: right;
        color: #ffffff;
      }

    }
    .contacts-list__second mat-list-item {
      font-size: 12px;
      height: 75px;
    }
  }
  .contacts-list__elevate:hover{
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
    cursor: pointer;
  }

::ng-deep .mat-list-item-content {
    padding-top: 10px !important;
    display: block !important;
}

::ng-deep .mat-ink-bar {
  background-color: green !important;
}

mat-drawer {
    width: 350px;
    height: 100vh;
}