<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer [mode]="over" position="end">
     <div *ngIf="isShowDrawer && drawerData">
      <mat-toolbar>
        {{drawerData.id}} - {{drawerData.first_name}} {{drawerData.last_name}}
     </mat-toolbar>
      <mat-list role="list">
        <mat-list-item role="listitem">Company Name: 
          <!-- <b>{{drawerData.company_name}}</b> -->
          <input type="text" matInput [(ngModel)]="drawerData.company_name"/>
        </mat-list-item>
        <mat-list-item role="listitem">Department: <b>{{drawerData.department}}</b></mat-list-item>
        <mat-list-item role="listitem">Gender: <b>{{drawerData.gender}}</b></mat-list-item>
        <mat-list-item role="listitem">Job Title: <b>{{drawerData.job_title}}</b></mat-list-item>
        <mat-list-item role="listitem">Language: <b>{{drawerData.language}}</b></mat-list-item>
        <mat-list-item role="listitem">Preferred Color: <b>{{drawerData.preferred_color}}</b></mat-list-item>
      </mat-list>
      <button mat-raised-button (click)="editRecords(company_name)">Edit</button>
     </div>
  </mat-drawer>
  <mat-drawer-content>
    <div *ngIf="!isShowDrawer">
      <div class="employee-contacts">
        <h2>Welcome</h2>
        <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
          <mat-form-field>
            <mat-label>Search First Name</mat-label>
            <input matInput placeholder="Ex. Laura" [(ngModel)]="name" name="name" required #nameCtrl="ngModel" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Search Last name</mat-label>
            <input matInput placeholder="Ex. Laura" [(ngModel)]="lname" name="lname" required #lnameCtrl="ngModel" />
          </mat-form-field>
          <!-- <mat-form-field appearance="standard">
            <mat-label>Search By</mat-label>
            <mat-select [(ngModel)]="select" name="select" required #selectCtrl="ngModel">
              <mat-option *ngFor="let item of searchOptions" [value]="item.value">
                {{item.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
          <button mat-raised-button color="primary">Search</button>
      </form>
    </div>
    <div class="contacts-list__card-column" *ngFor="let item of filteredData">
      <div class="mat-elevation-z4 contacts-list__elevate" (click)="showDrawer(drawer, item)">
        <mat-list class="contacts-list__first" role="list">
          <mat-list-item role="listitem">{{item.first_name}} {{item.last_name}}</mat-list-item>
          <button mat-icon-button>{{item.id}}</button>
        </mat-list>
        <mat-list class="contacts-list__second" role="list">
          <mat-list-item role="listitem">Email: <b>{{item.email}}</b></mat-list-item>
          <mat-list-item role="listitem">Company Name: <b>{{item.company_name}}</b></mat-list-item>
          
        </mat-list>
      </div>
    </div>
    </div>
    <div *ngIf="isShowDrawer && drawerData">
      <button type="button" mat-raised-button (click)="backToScreen()">Back</button>
      <mat-toolbar>
        {{drawerData.id}} - {{drawerData.first_name}} {{drawerData.last_name}}
     </mat-toolbar>
      <mat-list role="list">
        <mat-list-item role="listitem">Company Name: 
          <!-- <b>{{drawerData.company_name}}</b> -->
          <input type="text" matInput [(ngModel)]="drawerData.company_name"/>
        </mat-list-item>
        <mat-list-item role="listitem">Department: <b>{{drawerData.department}}</b></mat-list-item>
        <mat-list-item role="listitem">Gender: <b>{{drawerData.gender}}</b></mat-list-item>
        <mat-list-item role="listitem">Job Title: <b>{{drawerData.job_title}}</b></mat-list-item>
        <mat-list-item role="listitem">Language: <b>{{drawerData.language}}</b></mat-list-item>
        <mat-list-item role="listitem">Preferred Color: <b>{{drawerData.preferred_color}}</b></mat-list-item>
      </mat-list>
      <button mat-raised-button (click)="editRecords(drawerData.company_name)">Edit</button>
     </div>
  </mat-drawer-content>
</mat-drawer-container>